

<div class="m-scene centerMe" id="main">
  <div class="m-right-panel m-page scene_element scene_element--fadeinup">

<div class = "centerMe vCenterMe makeMeBig">
<h1>Account</h1>

<p>Username: {{user.username}}</p>
<p>usertype: {{user.usertype}}</p>

<a class = "btn btn-primary" href= "/logout">Logout</a>
</div>

  </div>
  </div>