{{#if errorMessage}}
<div class = "theError">{{errorMessage}}</div>
{{/if}}

<h1>Register</h1>
<p>Sign up to get great food at a greater price.</p>

<form action="/signup" method="post">

    <label for="username">Username</label>
    <input id="username" type="text" name="username">
    <br>
    <label for="password">Password</label>
    <input id="password" name="password" type="password">
    <br>
<label for ='user-type'>I am a ...</label>
    <select id='user-type' name="usertype">
    <option value="null"></option>
    <option value="Customer">Customer</option>
    <option value="Restaurant">Restaurant</option>
    </select>
<br>
<label for ='thecard'>Credit Card</label>
    <input type="text" id="thecard" name="creditcard" value="XXXXXXXXXXXX3059" readonly="readonly" />
<br>
    <button>Submit</button>

</form>



<footer>
<p>Already have an account? <a href = '/'>Login here</a></p>
</footer>
