<h1> Welcome, {{user.username}}</h1>

Feeling hungry?

We can watch for any abandoned pizzas and alert you.

<p>Turn on the pizza scanner to get a notification when a pizza is nearby!</p>

{{#if pizzabox}} {{!-- Check the spelling of pizzabox once mongo is set up --}}


 {{!-- I can also put this entire big div in a partial if that turns out to be more useful --}}
<div>
  <h3>There are pizza boxes up for grabs!</h3>
    {{#each pizzabox}}
      <div class = "pizzacard"> 
        I'm a pizza card!
        {{!-- 
        In the pizza card, include the name of the company, name of the pizza
        who posted the pizza, cost, and time left to order the pizza.

        Once you get the map api, you should also put the cost of the pizza 

        
        
        
         --}}
        
        </div>
      </div>
</div>
    {{/each}}



{{/if}}




<button>Scan for my pizza!</button>