<h1> Welcome {{user.name}}</h1>

Feeling hungry?

We can watch for any abandoned pizzas and alert you.

<p>Turn on the pizza scanner to get a notification when a pizza is nearby!</p>


<button>Scan for my pizza!</button>