<div class ="centerMe m-scene" id="main">

      <div class="m-header scene_element scene_element--fadein">

  <h1>{{title}}</h1>

  {{#if message }}
            <div class="theError">{{ message }}</div>
        {{/if}}

  <div class="m-page scene_element scene_element--fadeinup">

  <div class="form-group">
              <form action = "/login" method = "post">
              <input type = 'text' class="form-control" name = 'username'  placeholder = 'username'>
              
              <input type = 'password' class="form-control" name = 'password' placeholder = 'password'>
          <br>
          <button class="btn btn-primary" type = 'submit'>Login</button>
          </form>        
  </div>     


  <br>
  

  <p>Don't have an account? <a class ="badge badge-primary" href = '/signup'>Register here</a></p>
</div>  {{!-- end mpage fade up --}}

  </div>
</div>{{!-- end centerMe & Mscene--}}