<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="apple-touch-icon" sizes="76x76" href="./css/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./css/assets/img/favicon.png"> 
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/material-kit.css">
        <script async defer src="https://buttons.github.io/buttons.js"></script>

  </head>
  <body>
    <div class= "container">
    <div class = "row">
    
<div class = "col-m-12 mx-auto whitetext megadiv">

    
    {{{body}}}

      <script src="../bootstrap/creativeTimAssets/js/core/jquery.min.js" type="text/javascript"></script>
      <script src="../javascripts/jquery.smoothState.js"></script>
       <script src="../javascripts/smoothStateLink.js"></script>
      <script src="../bootstrap/creativeTimAssets/js/core/popper.min.js" type="text/javascript"></script>
      <script src="../bootstrap/creativeTimAssets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
      <script src="../bootstrap/creativeTimAssets/js/plugins/moment.min.js" type="text/javascript"></script>
      <script src="../bootstrap/creativeTimAssets/js/plugins/nouislider.min.js" type="text/javascript"></script>
      <script src="../bootstrap/creativeTimAssets/js/material-kit.js" type="text/javascript"></script>





  
  
  
      <script src = "../javascripts/material-kit.min.js"></script>
    </div>
  </div>
</div>

{{#if user}}
<nav class ="myNav">
  <span><a id ="whitetext" href ="/home">Home</a></span>
  <span><a id ="whitetext" href ="/pizzaBoxes">PizzaBoxes</a></span>
  <span><a id ="whitetext" href ="/myAccount">My Account</a></span>
</nav>
{{/if}}

  </body>
</html>
