<h1>Pay Success</h1>

<h1> Hi there! </h1>

You made it to the end of the test functionality of
the app! 
<br>
<br>

My assignment was to build a full stack app with basic
crud functionality within 5 business days.

I pushed the envelope as far as I could in the 5
business days I had with my 5 weeks of JS training.

<br>
<br>

I added this payment feature as a little bonus the day
after I presented my creation. If you haven't tried the restaurant side of the app,
you should <a href="signup">register as a restaurant!</a>
<br>
<br>

So this is it, for now! If you want a little info on 
PizzaBox in the week that it was created, <a href= "https://docs.google.com/presentation/d/1uh7TXfr9eWAMUz8M8UCdOmspsR9wLw-eEPYzGdlbNao/edit?usp=sharing">take a look at this slideshow!</a>

<br>
<br>

To reach out to me or take a look at what I'm up to,

<a href ="https://www.linkedin.com/in/gianninicharles/">find me here on Linkedin!</a> 
<br>

You can also find me <a href= "https://github.com/GianniniCharles">here on Github!</a>
<br>
<br>

Hope you enjoyed the PizzaBox test! See you next time!