<div class="m-scene" id="main">
  <div class="m-right-panel m-page scene_element finished scene_element--fadeinup">

<h1>Pay Success</h1>

<h1> Hi there! </h1>

<p>You made it to the end of the test functionality ofthe app!</p>
<br>
<br>

<p>My assignment was to build a full stack app with basic crud functionality within 5 business days.</p>

<p>I pushed the envelope as far as I could in the 5 business days I had with my 5 weeks of JS training.</p>

<br>
<br>

<p>I added this payment feature as a little bonus the day after I presented my creation. If you haven't tried the restaurant side of the app, you should <a href="signup">register as a restaurant!</a></p>
<br>
<br>

<p>So this is it, for now! If you want a little info on PizzaBox in the week that it was created, <a href= "https://docs.google.com/presentation/d/1uh7TXfr9eWAMUz8M8UCdOmspsR9wLw-eEPYzGdlbNao/edit?usp=sharing">take a look at this slideshow!</a></p>

<br>
<br>

<p>To reach out to me or take a look at what I'm up to,</p>

<p><a href ="https://www.linkedin.com/in/gianninicharles/">find me here on Linkedin!</a></p> 
<br>

<p>You can also find me <a href= "https://github.com/GianniniCharles">here on Github!</a></p>
<br>
<br>

<p>Hope you enjoyed the PizzaBox test! See you next time!</p>


<br>

<p><a href="/home">Click here to go back home</a></p>

  </div>
  </div>