<h1>Pay Success</h1>

<h1> Hi there! </h1>

You made it to the end of the test functionality of
the app.

My assignment was to build a full stack app with basic
crud functionality.

I pushed the envelope as far as I could in the 5
business days I had with my 5 weeks of JS knowledge.

I added this payment feature as a little bonus the day
after I presented my creation.

So this is it, for now! If you want more info on 
PizzaBox's project, take a look at this slideshow!


To reach out to me or take a look at what I'm up to,

find me here on linked in!



Hope you enjoyed PizzaBox!