// transitions

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/*
 * CSS Page Transitions
 */
 .m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }

/** Reverse "exit" animations */
&.is-exiting {
  .scene_element {
    animation-direction: alternate-reverse;
  }
}


}
















// Standard/Mobile CSS 



body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/images/pizzaBoxBackground.jpeg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  

  color: white !important;
}

label, input, { 
  color: white!important;
}

.fontLarger{
  font-size: 2em;
}

.flexlife {
  display:flex;
  justify-content: space-evenly;
}

.centerMe, #centerMe {
  text-align: center;
}

// .beCentered {
// display: flex;
// justify-content: center;}

.vCenterMe {
  position: relative;
  top: 30vh;
}

.makeMeBig p{
  font-size: 1.4em;
}
.theError {
  color: red;
}

.whitetext, #whitetext {
  color: white !important;
}

#whitetext {
  padding: 10px !important
}

#description {
  background-color: rgba(255,255,255,0.2);
  color: white;
  font-size: 1.3em;
}


.pizzaCard {
  background-color: rgba(0,0,0, 0.6);
}

nav, .myNav{
  background-color: #9C27B5;
  position: fixed;
  left: 0vw;
  bottom: 0vw;
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}




// .ghettonav{
//   position:fixed;
//   bottom: 0vh;
//   right: 0vw;
//   height: 10vh;
//   width: 100vw;
//   background-color: red;
// }