body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/pizzaBoxBackground.jpeg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  

  color: white !important;
}

label, input, { 
  color: white!important;
}

a{
  color: rgb(0, 68, 255)!important;
}


.flexlife {
  display:flex;
  justify-content: center;
}

.darkBackground {
  margin: 0px;
  padding: 0px;
  background-color: rgba(0,0,0, 0.6);
  width: 100vh;
  height: 100vh;
}

.theError {
  color: red;
}

// .whitetext {
//   color: white;
// }

#description {
  background-color: rgba(255,255,255,0.2);
  color: white;
  font-size: 1.3em;
}


.pizzaCard {
  background-color: rgba(0,0,0, 0.6);
}