<div class="m-scene" id="main">
  

<div class = "m-right-panel m-page scene_element scene_element--fadeinright">
<h1>New PizzaBox</h1>

<form action = "/newPizzaBox" method = "post" enctype="multipart/form-data">


<div class="form-group">
    <label for ="storetitle" class="bmd-label-floating">Pizza Shop Name</label>
    <input type = "text" id = "storetitle" class="form-control"name = "store">
</div>



<div class="form-group">
    <label for = "pizzatitle" class="bmd-label-floating">Pizza Name</label>
    <input type = "text" id = "pizzatitle" class="form-control"name = "pizzaname">
    {{!-- <span class="bmd-help turn-white">What kind of pizza is it?</span> --}}
 </div>

<div class="form-group">
    <label for = "pizzaprice" class="bmd-label-floating">$ Price</label>
    <input type = "number" id = "pizzaprice" min="0" class="form-control"name = "price">
 </div>
<br>

<div class="form-group">
<label for = "description">Description</label>
<textarea class="form-control" cols= '40' rows= '3'id = "description" name = "description"></textarea>
</div>



<input type = "hidden" id = "origin" name = "originlocation">


<input type = "hidden" id = "target" name = "targetlocation">



<label for = "imagesource">Upload an Image</label>
<br>
<input type = "file" name ="photo">
<br>


{{!-- Pizza boxer: id of the person creating it. --}}
<input type = 'hidden' value = {{user.id}} name = "userId">


{{!-- The purchased by will be an update based on the person who buys it later on. --}}
<input type = 'hidden' value = 'null' name = "purchasedby">



{{!-- <label for ="timer">How long until pizza shouldn't be sold?</label>
<input type = 'number' min = '0' value = '300' name = "timelimit"> --}}


<input type = 'hidden' value = 'active' name = "status">

<br>
<button class="btn btn-primary">Put my pizza for sale!</button>
</form>

{{#if errorMessage }}
    <div class="theError"><p>{{ errorMessage }}</p></div>
{{/if}}
    </div>
  </div>