
<h1>New PizzaBox</h1>

<form action = "/newPizzaBox" method = "post">



<label for ="storetitle">Pizza Shop Name</label>
<br>
<input type = "text" id = "storetitle" name = "store">
<br>

<label for = "imagesource">Upload an Image</label>
<br>
<input type = "text" id = "imagesource" name = "imgsrc">
<br>

<label for = "pizzatitle">Pizza Name</label>
<br>
<input type = "text" id = "pizzatitle" name = "pizzaname">
<br>

<label for = "description">Description</label>
<br>
<textarea cols= '40' rows= '10'id = "description" name = "description"></textarea>
<br>



<label for = "origin">Starting Location</label>
<br>
<input type = "text" id = "origin" name = "originlocation">
<br>

<label for = "target">Target Location</label>
<br>
<input type = "text" id = "target" name = "targetlocation">
<br>




{{!-- Pizza boxer: id of the person creating it. --}}
<input type = 'hidden' value = {{user.id}} name = "userId">


{{!-- The purchased by will be an update based on the person who buys it later on. --}}
<input type = 'hidden' value = 'null' name = "purchasedby">



<label for ="timer">How long until pizza shouldn't be sold?</label>
<input type = 'number' min = '0' value = '300' name = "timelimit">


<input type = 'hidden' value = 'active' name = "status">


<button>Put my pizza for sale!</button>
</form>

{{#if errorMessage }}
    <div class="theError"><p>{{ errorMessage }}</p></div>
{{/if}}

