<h1>Welcome, {{user.username}}</h1>


Got some food you need to sell, fast?

<p>Create a pizzabox and all nearby users will be able to see it!</p>

<a href ='/newPizzaBox'>Create a new pizzabox</a>
<br>
<a href ='/myPizzaBoxes'>See my pizzaboxes</a>
