<div class = "centerMe fontLarger">

<h1>Welcome, {{user.username}}</h1>

<br>
<span>Got some food to sell, fast?</span>
<br>
<br>
<span>Create a pizzabox and all nearby users will be able to see it!</span>

<br>
<br>
<a class = "btn btn-primary" href ='/newPizzaBox'>Create a new pizzabox</a>
<br>
<br>  


<a class = "btn btn-primary" href ='/myPizzaBoxes'>See my pizzaboxes</a>
<br>
<br>  


 <a class = "btn btn-primary" href="/myAccount">Settings</a>
<br>
<br>  
 </div>